{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{department}}</title>
</head>
<body>
<div class="card mx-auto" style="width: 100rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">{{department}}</h5><b>
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name">
        <label for="first_name">Имя</label>
        <input type="text" id="first_name">
        <label for="surname">Отчество</label>
        <input type="text" id="surname">
        <p></p>
        <label for="date">Дата рождения</label>
        <input type="date" id="date" value="{% now 'Y-m-d' %}">
        </b>
        <p></p>
        <div id="block-content">
            <div id="some" class="d-flex flex-row bd-highlight">
                <select  class="p-2 flex-grow-1 bd-highlight col-8" id="select">
                    <option selected disabled>------------</option>
                    {% for item in services %}
                    <option value="{{item.id}}">{{item.name}}.  {{item.type}}.  {{item.price}}р.</option>
                    {% endfor %}
                </select>
                <input class="p-2 flex-shrink-1 bd-highlight" id="count" type="number" min="1" max="99" value="1">
            </div>
        </div>
        <button id="add" class="btn btn-primary btn-sm" >Добавить услугу</button>
        <p></p><button type="button" class="btn btn-primary" class="print" id="print">
            Печать
        </button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Талон</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div id="body">
        </div>
    </div>
  </div>
</div>
</body>



<script>
    document.getElementById( 'add' ).addEventListener( 'click', function ( event ) {
    event.preventDefault();
    var select = document.getElementById( 'some' ).cloneNode( true );
    document.getElementById( 'block-content' ).appendChild(document.createElement("p"));
    document.getElementById( 'block-content' ).appendChild( select );

}, false );

$(document).on("click", "#print", function () {
    $("#body").empty();
    var div = document.getElementById( 'body' );
    div.innerHTML += "<h3>Направление на платные услуги.</h3>"
    data ='ФИО: ' + document.getElementById( 'last_name' ).value + " " +
    document.getElementById( 'first_name' ).value + " " + document.getElementById( 'surname' ).value +
    "<br>" + 'Дата рождения: ' + stringToDateString(document.getElementById( 'date' ).value) + '<p></p>'
    div.innerHTML += data;
    var elms = document.querySelectorAll("[id='some']");
    sum = 0.0
    for(var i = 0; i < elms.length; i++) {
        element = elms[i].querySelector("#select")
        data = element.options[element.selectedIndex].text;
        element = Math.abs(elms[i].querySelector("#count").value);
        sum += MultipleServices(data,element);
        data += '<div style="float:right;">Количество: ' + element + '</div><br>'
        div.innerHTML += data;
        }
      div.innerHTML += "<p>Сумма: " + sum + 'р'
    PrintContent();
});
function MultipleServices(price, count){
    try {
        return parseFloat(FloatFromString(price)) * parseFloat(count);
    }
    catch{
        return 0;
    }
}
function FloatFromString(data){
    regex = /[+-]?([0-9]*[.])?[0-9]+р./
    x = data.toString().match(regex)[0].slice(0,-2)
    return x
}

function PrintContent()
{
var DocumentContainer = document.getElementById('body');
var WindowObject = window.open("", "PrintWindow",
"width=750,height=650,top=50,left=50,toolbars=no,scrollbars=yes,status=no,resizable=yes");
WindowObject.document.writeln(DocumentContainer.innerHTML);
WindowObject.document.close();
setTimeout(function(){
    WindowObject.focus();
    WindowObject.print();
    WindowObject.close();
},1000);
}
function stringToDateString(date){
    if (typeof(date) === 'object'){
        try {
            date = (date).toLocaleDateString('ru-RU');
        }
        catch(e) {
            logMyErrors(e);
        }
    }
    let [day, month, year] = date.split('-');
    if (day.length == 1){
        day = '0'+day;
    }
    if (month.length == 1){
        month = '0'+month;
    }
    return year + '-' + month + '-' + day;
}
</script>
{% endblock content %}